body {
  margin: 0px;
}

.name {
  display: flex;
  align-items: center;
}

.name_div {
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  background-color:#E21235;
  border-radius: 12px;
  max-height: 64px;
}

.header {
  display: flex;
  width: 1350px;
  justify-content: space-between;
  align-items: center;
}

.panel {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.osnova {
  display: flex;
  width: 700px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 260px;
}

.pravo {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.pravo_2 {
  display: flex;
  width: 360px;
  justify-content: space-between
}

.osnova_osn {
  color: #ffffff;
  background-color: #333333;
}

.osnova_p{
  user-select: none;
}

.osnova_p:hover {
  color:#E21235;
  cursor: pointer;
}

.headercat {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 250px;
}

.cat_osn {
  display: flex;
  width: 350px;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  margin-top: 60px;
  padding: 10px 30px 15px 30px;
  border-radius: 12px;
}

.div_cat {
  width: 100px;
}

.cat_p {
  user-select: none;
}

.cat_p:hover {
  color:#E21235;
  cursor: pointer;
}

.head_p{
  user-select: none;
}

.head_p2{
  user-select: none;
  cursor: pointer;
}

.cat_button{
  padding: 10px 10px 12px 10px;
  background-color: #fa274a;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.backgr_div {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.backgr {
  width: 40%;
  height: 300px;
  background-color: #E21235;
  border-radius: 34px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.log_text_div {
  width: 400px;
}

.log_text_h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.input {
  height: 30px;
  width: 100%;
  background-color: #D9D9D9;
  border: none;
  margin-bottom: 20px;
}

.back {
  position: absolute;
  margin-top: 20px;
  margin-left: -650px;
}